body {
    text-align: center;
    font-size: 20px;
}

h2 {
    color: #FF3D00;
}

.honor-and-thank {
    width: 929px;
    height: 615px;
    top: 545px;
    background: #E7E7E7;
    border-radius: 55px;
    padding-top: 50px;
}

.hat-img {
    position: absolute;
    width: 657px;
    height: 291px;
    left: 167px;
    top: 563px;
}

.h-a-t-desc {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Roboto;
    font-style: normal;
    line-height: 33px;
}

.str-tgt {
    /*position: absolute;*/
    width: 560px;
    height: 188.87px;
    left: 550px;
}