.main-header {
    text-align: center;
}

.honor-and-thank {
    position: absolute;
    width: 929px;
    height: 615px;
    left: 35px;
    top: 545px;
    background: #E7E7E7;
    border-radius: 55px;
    padding-top: 50px;
}

.hat-img {
    position: absolute;
    width: 657px;
    height: 291px;
    left: 167px;
    top: 563px;
}

.h-a-t {
    text-align: center;
}

.h-a-t-desc {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Roboto;
    font-style: normal;
    /*font-weight: bold;*/
    font-size: 20px;
    line-height: 33px;
}

.h2-1 {
    color: #FF3D00;
}